

body{
    background: var(--black-color);
    text-align: center;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.content_paypal a {
    color: greenyellow;
}